#content {
	display: flex;
	flex-direction: row;
}

.selected-courses {
	position: fixed;
	width: 30vw;
	height: 90vh;
	margin: 1em;
	padding: 1vw 1vw 1vw 1vw;
	background: #c2c1c0;
	border-radius: 3px;
	box-shadow: 0 6px 20px rgba(0,0,0,0.20), 0 6px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
}

.year-container {
	max-height: 90%;
}

.year-toggle-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #b2b1b0;
	height: 5%;
	margin-bottom: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.20), 0 2px 7px rgba(0,0,0,0.22);
	cursor: pointer;
}

.year-toggle {
	background-image: url("arrow-down.png");
	background-size: contain;
	width: 26px;
	height: 26px;
}

#first-year {
	background-image: url("arrow-up.png");
}

.period-selection {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 18%;
}

.selected-course {
	width: 40%;
	margin: 7px;
	padding: 1em 1em 1em 1em;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: 'Roboto Slab', serif;
	font-size: 0.8em;
}

#course-list {
	margin-left: 32vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

body {
	background: #e2e1e0;
}

.lp {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	color: #808080;
}

.lp-disp {
	font-family: 'Roboto Slab', serif;
	font-size: 0.9em;
	color: #808080;
}

.period {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-bottom: 2em;
	justify-content: center;
}

.course {
	cursor: move;
	width: 12.3vw;
	margin: 7px;
	padding: 1vw 1vw 1vw 1vw;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: 'Roboto Slab', serif;
	font-size: 0.8em;
}

.course:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ccp {
	font-size: 1.2em;
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cnp {
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mpsof {
	background-color: teal;
	color: white;
}

.mpcsn {
	background-color: #EF6C00 ;
	color: white;
}

.mpalg {
	background-color: #EF6C00 ;
	color: white;
}

.mpcas {
	background-color: black;
	color: white;
}

.mpbdp {
	background-color: purple;
	color: white;
}

.mpide {
	background-color: teal;
	color: white;
}

.mplol {
	background-color: #F44336;
	color: white;
}

.mts {
	background-color: #689F38;
	color: white;
}

.tkite {
	background-color: teal;
	color: white;
}

.tidal {
	background-color: yellow;
	color: black;
}

.mpees {
	background-color: yellow;
	color: black;
}

.tkdat {
	background-color: #EF6C00 ;
	color: white;
}

.tkelt {
	background-color: yellow;
	color: black;
}

.mpmei {
	background-color: purple;
	color: white;
}

.mpbio {
	background-color: green;
	color: white;
}

.tkiek {
	background-color: purple;
	color: white;
}

.sprak {
	background-color: white;
	color: black;
}

.mpenm {
	background-color: white;
	color: black;
}

.tkvov {
	background-color: teal;
	color: white;
}

.tkmas {
	background-color: teal;
	color: white;
}

.mpbme {
	background-color: white;
	color: black;
}

.mpqom {
	background-color: #689F38;
	color: white;
}

.mpscm {
  background-color: teal;
	color: white;
}

.mpsov {
	background-color: teal;
	color: white;
}

.mpenm {
	background-color: black;
	color: white;
}

.mptse {
	background-color: #689F38;
	color: white;
}
