#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.mpsof {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpcsn {
	width: 10vw;
	margin: 1em;
	background-color: orange;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpalg {
	width: 10vw;
	margin: 1em;
	background-color: orange;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpcas {
	width: 10vw;
	margin: 1em;
	background-color: black;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpbdp {
	width: 10vw;
	margin: 1em;
	background-color: purple;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpide {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mplol {
	width: 10vw;
	margin: 1em;
	background-color: red;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mts {
	width: 10vw;
	margin: 1em;
	background-color: green;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tkite {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tidal {
	width: 10vw;
	margin: 1em;
	background-color: yellow;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpees {
	width: 10vw;
	margin: 1em;
	background-color: yellow;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tkdat {
	width: 10vw;
	margin: 1em;
	background-color: orange;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tkelt {
	width: 10vw;
	margin: 1em;
	background-color: yellow;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpmei {
	width: 10vw;
	margin: 1em;
	background-color: purple;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpbio {
	width: 10vw;
	margin: 1em;
	background-color: green;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tkiek {
	width: 10vw;
	margin: 1em;
	background-color: purple;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.sprak {
	width: 10vw;
	margin: 1em;
	background-color: white;
	padding: 1vw 1vw 1vw 1vw;
	color: black;
}

.mpenm {
	width: 10vw;
	margin: 1em;
	background-color: white;
	padding: 1vw 1vw 1vw 1vw;
	color: black;
}

.tkvov {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.tkmas {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpbme {
	width: 10vw;
	margin: 1em;
	background-color: white;
	padding: 1vw 1vw 1vw 1vw;
	color: black;
}

.mpqom {
	width: 10vw;
	margin: 1em;
	background-color: green;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpscm {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpsov {
	width: 10vw;
	margin: 1em;
	background-color: teal;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mpenm {
	width: 10vw;
	margin: 1em;
	background-color: black;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}

.mptse {
	width: 10vw;
	margin: 1em;
	background-color: green;
	padding: 1vw 1vw 1vw 1vw;
	color: white;
}
