#content {
	display: flex;
	flex-direction: row;
}

#selected-courses {
	min-width: 30vw;
	height: 90vh;
	margin: 1em;
	padding: 1vw 1vw 1vw 1vw;
	background: #c2c1c0;
	border-radius: 3px;
	box-shadow: 0 6px 20px rgba(0,0,0,0.20), 0 6px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
}

.period-selection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 25%;
}

.selected-course {
	width: 35%;
	margin: 7px;
	padding: 1vw 1vw 1vw 1vw;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: 'Roboto Slab', serif;

}

#course-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

body {
	background: #e2e1e0;
}

.period {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-bottom: 2em;
	justify-content: center;
}

.course {
	width: 12.3vw;
	margin: 7px;
	padding: 1vw 1vw 1vw 1vw;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: 'Roboto Slab', serif;
}

.course:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.course-code {

}

.course-name {
	font-style: italic;
	font-size: 0.8em;
}

.mpsof {
	background-color: teal;
	color: white;
}

.mpcsn {
	background-color: orange;
	color: white;
}

.mpalg {
	background-color: orange;
	color: white;
}

.mpcas {
	background-color: black;
	color: white;
}

.mpbdp {
	background-color: purple;
	color: white;
}

.mpide {
	background-color: teal;
	color: white;
}

.mplol {
	background-color: red;
	color: white;
}

.mts {
	background-color: green;
	color: white;
}

.tkite {
	background-color: teal;
	color: white;
}

.tidal {
	background-color: yellow;
	color: black;
}

.mpees {
	background-color: yellow;
	color: black;
}

.tkdat {
	background-color: orange;
	color: white;
}

.tkelt {
	background-color: yellow;
	color: black;
}

.mpmei {
	background-color: purple;
	color: white;
}

.mpbio {
	background-color: green;
	color: white;
}

.tkiek {
	background-color: purple;
	color: white;
}

.sprak {
	background-color: white;
	color: black;
}

.mpenm {
	background-color: white;
	color: black;
}

.tkvov {
	background-color: teal;
	color: white;
}

.tkmas {
	background-color: teal;
	color: white;
}

.mpbme {
	background-color: white;
	color: black;
}

.mpqom {
	background-color: green;
	color: white;
}

.mpscm {
  background-color: teal;
	color: white;
}

.mpsov {
	background-color: teal;
	color: white;
}

.mpenm {
	background-color: black;
	color: white;
}

.mptse {
	background-color: green;
	color: white;
}
